<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Latest compiled and minified CSS -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Optional theme -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />

  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">Serving html file</div>
  </div>

  <!-- Latest compiled and minified JavaScript -->

  <script type="application/x-javascript" src="/js/jquery.min.js"></script>
  <script type="text/x-javascript" src="/js/bootstrap.min.js"></script>
</body>

</html>